In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stat

import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import sys
sys.path.append("../src")

In [1]:
# Adjusing Parameters
#tickers = ['VIC', 'VCB', 'VHM', 'CTG', 'BID', 'TCB', 'VPB', 'HPG']
tickers = ['VIC', 'VHM', 'ACB']
start_date = '2025-06-01'
end_date = '2025-12-26'
interval_select = '1d'

In [ ]:
from vnstock import Quote, Company
quote = Quote(symbol="VIC", source='VCI')
company = Company(symbol='VIC', source="VCI")

ov = company.overview()
stock = quote.history(start=start_date, end=end_date, interval='1d')

issue_share = ov.at[0, 'issue_share']

stock['mkt_cap'] = stock['close'] * issue_share

stock

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

          time    open    high     low   close    volume       mkt_cap
0   2025-05-28   46.50   49.15   46.50   48.50   6163460  3.737425e+11
1   2025-05-29   48.60   49.50   48.05   48.50   4740932  3.737425e+11
2   2025-05-30   48.55   49.50   48.15   49.20   3280608  3.791367e+11
3   2025-06-02   49.35   49.90   47.10   49.00   6447797  3.775955e+11
4   2025-06-03   48.75   49.75   47.50   49.05   4420588  3.779808e+11
..         ...     ...     ...     ...     ...       ...           ...
146 2025-12-22  153.80  158.80  151.80  158.80   4500800  1.223718e+12
147 2025-12-23  165.00  169.90  163.00  169.90   6615800  1.309255e+12
148 2025-12-24  174.00  176.60  164.00  169.80   8749100  1.308484e+12
149 2025-12-25  167.60  174.50  158.00  158.00   6373600  1.217553e+12
150 2025-12-26  147.00  155.20  147.00  155.00  15336300  1.194435e+12

[151 rows x 7 columns]